<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our bookshop!!!</h1>
    <h1>Выберите автора</h1>
    {% for author in object_list %}
    <span>{{author.name}}: </span>
    <a href="/author/updateview/{{author.pk}}"><button>update</button></a>
    <a href="/author/deleteview/{{author.pk}}"><button>delete</button></a>
    <a href="/author/{{author.pk}}"><button>view</button></a>
    <br>
    {% endfor %}
    <br>
    <a href="/author/createview/"><button>create</button></a>
</body>
</html>