<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our bookshop!!!</h1>
    <h1>Выберите Издательство</h1>
    {% for publisher in object_list %}
    <span>{{publisher.name}}: </span>
    <a href="/publisher/updateview/{{publisher.pk}}"><button>update</button></a>
    <a href="/publisher/deleteview/{{publisher.pk}}"><button>delete</button></a>
    <a href="/publisher/{{publisher.pk}}"><button>view</button></a>
    <br>
    {% endfor %}
    <br>
    <a href="/publisher/createview/"><button>create</button></a>
</body>
</html>